---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a software engineer with .NET and Node.js experience. <br />
    I've worked with technologies and tools such as Docker, AWS, GitHub Actions,
    Postgres and more. <br />
    I want to explore more devops and fullstack technologies and skills.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master's Degree in Computer Science"
      subtitle="Currently at University of Zielona Góra, Poland"
    />
    <TimeLineElement
      title="Bachelor's Degree in Computer Science"
      subtitle="2017 to 2021 at University of Zielona Góra, Poland"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Node.js Developer at Codetain"
      subtitle="From Jan 2022 at Codetain, Zielona Góra, Poland"
    >
      I'm working on a project for a client from Munich, Germany. <br />
      I'm responsible for developing new features and maintaining the existing codebase.
      <br />
      I'm working with technologies such as Node.js, TypeScript, Docker, AWS, GitHub
      Actions, Postgres and more.
    </TimeLineElement>
    <TimeLineElement
      title=".NET Software Engineer at Metapack"
      subtitle="From Feb 2021 to Dec 2021 at Metapack, Zielona Góra, Poland"
    />
    <TimeLineElement
      title="Summer Academy Student at Metapack"
      subtitle="Sep 2020 at Metapack, Zielona Góra, Poland"
    />
    <TimeLineElement
      title="Software Engineer Intern at Cinkciarz.pl"
      subtitle="From Jul 2019 to Sep 2019 at Cinkciarz.pl, Zielona Góra, Poland"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="/aws_cloud_practitioner_essentials.pdf" target="_blank">
        AWS Cloud Practitioner Essentials Course
      </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
